<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <main role="main" class="inner cover">
                <h1 class="cover-heading">Search an Artists</h1>

                <p class="lead">
                    <search></search>
                </p>
            </main>

            <footer class="mastfoot">
                <div class="inner">
                    <p>Developed by
                        <a href="https://www.linkedin.com/in/gustavorodarte/">@gustavorodarte</a>.</p>
                </div>
            </footer>

        </div>

    </div>

</div>