            <div class="row">
                <div class="col-sm-10 offset-sm-1 text-center">
                    <div class="info-form">
                        <form action="" class="form-inline justify-content-center">
                            <div class="form-group">
                                <label class="sr-only">Name</label>
                                <input ng-model="$ctrl.bandName" type="text" class="form-control" placeholder="Band">
                            </div>
                            <button ui-sref=".videos({ bandName: $ctrl.bandName })" type="submit" class="btn btn-success ">Search!</button>
                        </form>
                    </div>
                </div>
            </div>
    