<section id="cover">
    <div id="cover-caption">
        <div id="container" class="container">
            <div class="row">
                <div class="col-sm-10 offset-sm-1 text-center">
                    <h1 class="display-3">Search Band </h1>
                    <div class="info-form">
                        <form action="" class="form-inline justify-content-center">
                            <div class="form-group">
                                <label class="sr-only">Name</label>
                                <input ng-model="bandName" type="text" class="form-control" placeholder="Band">
                            </div>
                            <button ng-click="ctrl.submit(bandName)" type="submit" class="btn btn-success ">Search!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>